<div class="card  ">
    <div class="card-header text-center">
        <h4>Company Information</h4>
    </div>
    <div class="card-body text-center compInfo">
        <img class="cmImage rounded-circle comInfo" src="../../assets/images/Logo.png">
        <div class="p-0 m-0 text-center mt-5">
            <!-- <h6> Software Arena Limited<br/><br/> 27 Link Road (4th Floor), Banglamotor, Dhaka-1000,<br/><br/> Phone: 02-9612798 Cell: 01712024481</h6> -->
            <table style="margin-left: 230px;">
                <tr>
                    <td>
                        <h3>{{companyInfo}}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6>{{companyInfo}}</h6>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
