.cmImage {
    height: 140px;
    width: 150px;
}

.compInfo {
    background-color: #9ad5fc;
    height: 630px;
}

.cmInfo {
    margin-left: 30px;
}

.contactImg {
    height: 140px;
}

.comInfo {
    margin-left: 30px;
}
